/*banner sections style*/
.banner{
    
    background: #1b1b1b;
    border-radius: 30px;
    width: 1300x;
    height: 634px;
    display: flex;
        
}
.title{
    display: flex;
    font-family: 'Anton', sans-serif;
    color: #da7575;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-left: 150px;
    
}
.p{
    
    color: #ecd4d4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 5px;
    
}
.banner img{
    width: 565px;
    height: 559px;
    left: 694px;
    top: 83px;
    position: absolute;

}
.Watchlive{
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
    color:rgb(181, 243, 243);
}

/*------footer items start-------*/
footer{
   
    font-family: 'Oxygen', sans-serif;
    position: absolute;
    width: 1400px;
    height: 300px;
    left: -62px;
    top: 2090px;
    background: #161616;
    color: #fffefe;
    margin-top: auto;
    text-align: center;
    text-size-adjust: 2px;
    
    
}
.hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    position: center;
    width: 1000px;
    height: 0px;
    margin-inline: center;
}
.footer-items .item{
    display:inline-flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.footer-items h3{
    color:#cfc3c3;
    font-feature-settings: 'liga' off;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
   

}
.social{
    font-weight: 500;
    font-size: 33px;
}
/*------footer items end-------*/
